table {
  border-collapse: collapse;
}

table td {
  padding: 0.5rem;
  border: 1px solid black;
}

table th {
  padding: 0.5rem;
  border: 1px solid black;
  text-transform: capitalize;
}

/* main {
  display: flex;
  gap: 50px;
} */

button:hover {
  cursor: pointer;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pagination a {
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 4px;
}

.pagination a.active {
  background-color: #007bff;
  color: #fff;
}

.pagination a:hover {
  background-color: #f5f5f5;
}
